@font-face {
    /* font-family: 'GothamMedium', sans-serif; */
    /* font-family: 'GothamMedium'; */
    /* src: url('../fonts/GothamMedium.ttf');  */
}

body {
    cursor: url('../../public/images/cursor.png'), auto;
    cursor: rotate 180;
}

#homeBackground {
    width: 100%;
    height: 860px;
    object-fit: cover;
}

#navHome {
    /* font-family: 'GothamMedium'; */
    font-size: 16px;
    font-weight: 1000;
    letter-spacing: 0.05em;
    background-color: hsl(180, 57%, 59%, 0.6);
    text-align: center;
    width: 100%;
    height: 34px;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 2;
}

li {
    width: 200px;
    line-height: 14px;
    margin-top: 6px;
    display: inline-block;
    color: black;
    vertical-align: middle;
}

#signInUp {
    font-size: 16px;
    font-weight: 1000;
    letter-spacing: 0.05em;
    /* text-align: right;    */
    position: fixed;
    right: 0;
    z-index: 2; /* should be same or bigger than z-index of navHome */
    width: 128px;
    padding: 0;
    margin: 3px 7px 0 0;
}

/* Sign in and Sign up buttons */
#signInUp li {
    width: 60px;
    text-align: center;
    display: inline-block;
    margin: 0 2px;
    color: black;
}

.linksHome {
    color: black;
    text-decoration: none;
    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}

.signInUpBtn {
    width: 100px;
    margin: 0;
    padding: 0;
}

.linksHome:hover,
#signInUp li:hover {
    color: hsl(180, 57%, 34%);
    cursor: pointer;
    cursor: hand;
}

#greeting {
    position: absolute;
    z-index: 1;
    width: 450px;
    margin: 200px 0px 0px calc(50% - 225px);
    /* top: -600px; */
    /* padding-top: 40px; */
    display: block;
    text-align: center;
    font-size: 21px;
    font-weight: 1000;
    padding: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#greeting h2 {
    font-weight: 1000;
}

.textAndImgContainer{
    height: 355px;
    width: 715px;
    margin: 0 auto;
    display: flex; /* Crucial for keeping all child elements in proper way */
}

.ImgAndTextContainer{
    height: 355px;
    width: 715px;
    margin: 0 auto;
    display: flex; /* Crucial for keeping all child elements in proper way */
}

.pictureFirst {
    height: 320px;
    width: 450px;
    display: inline-block;
    position: relative;
} 

.pictureSecond {
    height: 330px;
    width: 450px;
    display: inline-block;
    position: relative;
}

.pictureThird {
    height: 259px;
    width: 310px;
    display: inline-block;
    position: relative;
} 

.textZone {
    /* padding-top: 20px; */
    height: 355px;
    width: 260px;
    margin-right: 15px;
    margin-top: 9px;
    display: inline-block;
    /* position: relative; */
    /* top: 70px; */
}

.smallTitle {
    /* line-height: 8px; */
    /* height: 8px;  <24> */
    font-weight: 1000;
    width: 230px;
}

hr.rounded {
    border-top: 3px solid hsl(180, 71%, 19%);
    margin: 5px 0;
    /* 13 */
    border-radius: 5px;
}

#separatorFirst {
    width: 180px;
}

#separatorThird {
    width: 130px;
}

.smallText {
    /* line-height: 9px; Without it font-size affects/pushes other blocks  */
    font-size: 14px;
    width: 250px;
    text-indent: 16px; /* the indentation of the first line */
    /* 96 */
}

.textZoneFirst {
    margin-top: 8px;
    margin-left: 30px;
}

.textZoneSecond {
    margin-top: 80px;
    margin-left: 20px;
}

.textZoneThird {
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 90px;
}

@media (max-width: 740px) {
    .textAndImgContainer {
        flex-direction: column;
        width: 262px;
    }
    .ImgAndTextContainer {
        flex-direction: column-reverse;
        width: 262px;
        margin-top: 160px;  
    }
    .pictureFirst,
    .pictureSecond,
    .pictureThird {
        width: 260px;
        margin: 0 auto;
    }
    .textZone {
        margin: 0 auto;
    }
}