.allContainer {
    width: 924px;
    margin: 0 auto;
}

#visitsWallpaper {
    margin-top: 30px;
    display: block;
    width: 924px;
    margin: 0 auto;
    padding-top: 30px;
}

@media (max-width: 924px) {
    .allContainer,
    #visitsWallpaper {
        width: 100vw;
    }
}

#switcher {
    width: 550px;
    height: 120px;
    margin: 0 auto;
    display: flex;
}

#switcher p {
    width: 275px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 26px;
}

@media (max-width: 580px) {
    #switcher {
        width: 80vw;
    }

    #switcher p {
        width: 40vw;
    }
}

.btnVisits,
.btnDoctors {
    border: 1px solid black;
}

.btnVisits {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btnDoctors {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.clicked {
    background-color:hsl(186, 74%, 76%);
}

@media(max-width: 924px) {
    #visitsWallpaper {
        width: 100%;
    }
}

#patientsListTitle {
    /* display: flex; already in conditional inline styling */
    margin-top: 10px;
}

#patientsListTitle h3 {
    line-height: 26px;
    margin-left: 7px;
}

#doctorIcon {
    height: 22px;
    margin-top: 3px;
}

.oddRows {  
    background-color: hsl(0, 0%, 99%);
}

.evenRows {  
    background-color: hsl(186, 74%, 91%);
}

#patientsListHeaders {
    width: 960px;
    background-color:hsl(186, 74%, 76%);
}

#patientsListHeaders th {
    width: 160px;
    height: 40px;
    line-height: normal;
    vertical-align: middle;
}

#listOfPatients {
    width: 924px;
    margin: 0 auto;
    font-size: 16px;
}

#listOfPatients th {
    border-bottom: 1px solid black;
}

#listOfPatients tr td {
    border-bottom: 1px solid black;
}

[data-determinant="surname"] {
    padding-left: 3px;
}

[data-determinant="phone_number"] {
    padding-left: 50px;
}

[data-determinant="ssn"] {
    padding-left: 25px;
}

[data-determinant="day"] {
    padding-left: 43px;
}

[data-determinant="time"] {
    padding-left: 92px;
}

.phoneCell,
.ssnCell,
.dateCell,
.timeCell {
    text-align: right;
    padding-right: 5px;
}

@media (max-width: 924px) {
    #listOfPatients,
    #allContainer#patientsListHeaders {
        width: 96vw;
    }
}

@media (max-width: 780px) {
    #patientsListHeaders th {
        padding-left: 10px;
    }
}

@media (max-width: 700px) {
    #patientsListHeaders th {
        padding-left: 0px;
        width: 16vw;
    }

    #listOfPatients .oddRows td,
    #listOfPatients .evenRows td {
        max-width: 16vw;
    }
}

/* Styling for doctors list's part */
#doctorsListTitle {
    position: relative;
    left: 214px;
}

/* Whole list element */
#listOfDoctors {
    width: 502px;
    margin: 0 auto;
    font-size: 16px;
}

#doctorsListHeaders {
    width: 502px;
    background-color:hsl(186, 74%, 76%);
}

#doctorsListHeaders th {
    width: 160px;
    height: 40px;
    line-height: normal;
    vertical-align: middle;
    padding-left: 2px;
}

/*  Style for empty header
    #empty alone, below doesn't overwrite the code for all th */
#doctorsListHeaders #empty {
    width: 22px;
}

.oddRows td,
.evenRows td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 2px;
    max-width: 160px; /* Necessary for working text-overflow property in this case */
}

/* Icon responsible for deleting a doctor */
#listOfDoctors img {
    height: 15px;
}

#inputRow td {
    width: 160px;
}

/* Row for inserting new doctors */
#inputRow td input,
#inputRow td select {
    width: 160px;
    line-height: 24px;
    height: 24px;
    padding: 0;
}

#inputRow td select {
    width: 182px;
}

/* Tick icon */
#listOfDoctors img[src*="tick"] {
    height: 24px;
    position: absolute;
    right: calc(50% + 257px);
    top: 536px;
}

/* Cross icon */
#listOfDoctors img[src*=cross] {
    height: 24px;
    position: absolute;
    right: calc(50% - 280px);
    top: 536px;
}

#plusIcon {
    height: 23px;
    margin-top: 5px;
    margin-right: 8px;
    cursor: grab;
}

@media (max-width: 930px) {
    #doctorsListTitle {
        position: static;
        margin-left: calc(50% - 250px);
    }
}

@media (max-width: 505px) {
    #listOfDoctors {
        width: calc(90vw + 22px);
    }

    #doctorsListHeaders th {
        width: 30vw;
    }

    #doctorsListTitle {
        margin-left: 12px;
    }
}